<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<div class="col-md-8 message-box">
    <h2>Messages sent by users</h2>
    <div class="message-container">
        <ul class="list-group">
            <!--<li class="list-group-item" *ngFor="let message of messages[selectedUserName]">-->
            <li class="list-group-item" *ngFor="let message of msgs">
                {{ message }}
            </li>
        </ul>
        <div class="alert alert-warning" [hidden]="messages.length != 0">
            No messages for you.
        </div>
    </div>
    <div class="message-sender">
        <form name="message" action="">
            <input name="usermsg" class="form-control" [(ngModel)]='message' (keyup)="sendMsg($event)" type="text" id="usermsg" size="63" />
            <input name="submitmsg" type="submit" id="submitmsg" (click)="sendMsg(message)" value="Send" />
        </form>
    </div>
    <!--<div class="message-sender">
        <textarea class="form-control" [(ngModel)]='message' (keyup)="sendMsg($event)"></textarea>
    </div>-->
</div>